@page "/tasklist"
@using Lpsgrupo.UI.Frontend.Services
@using Lspgrupo.Cross.Entities.Common
@using Lspgrupo.Cross.Entities.Task
@using static System.Net.WebRequestMethods
@inject HttpClient Http
@inject ApiService ApiService

<h3>Lista de tareas</h3>


<div class="container mx-auto p-4">
    <div class="overflow-x-auto">
        <table class="min-w-full rounded-lg bg-white shadow-lg">
            <thead class="bg-gray-100 text-gray-700">
                <tr>
                    <th class="px-4 py-2 text-left font-semibold">Título</th>
                    <th class="px-4 py-2 text-left font-semibold">Descripción</th>
                    <th class="px-4 py-2 text-left font-semibold">Estado</th>
                    <th class="px-4 py-2 text-left font-semibold">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-gray-600">
                @if (taskItems != null && taskItems.Any())
                {
                    @foreach (var item in taskItems)
                    {
                        <tr class="border-b hover:bg-gray-50">
                            <td class="px-4 py-3">@item.Title</td>
                            <td class="px-4 py-3">@item.Description</td>
                            @if (item.IsCompleted)
                            {
                                <td class="px-4 py-3 text-green-500">Activo</td>
                            }
                            else
                            {
                                <td class="px-4 py-3 text-red-500">Inactivo</td>
                            }
                            <td>  </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="px-4 py-3 text-center text-gray-500">No hay tareas disponibles.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code {

    private List<TaskItemDto> taskItems = new List<TaskItemDto>();

    protected async override Task OnInitializedAsync()
    {
        var response = await ApiService.GetAsync<GenericResponse<List<TaskItemDto>>>($"api/Task/get-all");

        if (response.IsSuccess)
        {
            taskItems = response.Data ?? new List<TaskItemDto>();
        }
    }

}
